* {
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    color: rgb(247, 141, 11);
    font-size: 22px;
    background-color: rgb(147, 144, 141);
}

.heading {
    color: hsl(360, 100%, 50%);
    position: relative;
    top: 50px;
}
.navbar {
    font-family: "Arial", sans-serif;
    font-size: 22px;
    line-height: 1.25;
    background-color: hsla(250, 100%, 50%, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 900;
    height: 60px;
    color: hsl(360, 100%, 50%);
}
.navbar li{
    display: inline-block;
}

.main{
text-align: center;
}
h1 {
    font-weight: bold;
    color: reds;
    text-size-adjust: 300%;
}
p {
  padding: 10px;
  color: #df500e; 
  font-weight: bold;
}
.heading {
    
    color: honeydew;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0%;
    border: 0;

}
.image{
    background-image: url(https://www.shutterstock.com/image-illustration/abstract-geometric-background-explosion-power-design-1433482889);
    background-position: center;
    background-size: cover;
    height: 300px;
}
li {    
    list-style-type: upper-roman;
    padding-left: 140px;
}

.my-list{
    float: right;
}
.introduction{
    float: right;
}
nav{
    height: 200px;
    width: 400px;
    float: center;
    border: none;
    text-align: left;
    list-style-image: none;
    position: center;
    
}
ul li {
    list-style-type: none;
}
#Article{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#reasonforcomment {
    position: center;
    border: 1px;
    border-color: black;
}
.commentWelcome {
    background-image: url(..//Practice/images/background.jpg);
    text-align: center;
    outline: 1px solid white;
}
.textarea {
    text-align: left;
    position: relative;
    left: 50px;
    
}
.eightball {
    background-image: url(..//Practice/images/background.jpg);
    text-decoration: 2px solid white;
}
.comImage {
    display: block;
    margin-left: auto;
    margin-right: 80px;
    position: relative;
    left: 200px;
    top: 10px;
}
.button {
    border-radius: 4px;
  color: #05A8AA;
  display: block;
  font-weight: 700;
  width: 200px;
  padding: 20px;
  margin: 40px auto;
  border: 1px solid blue;
  position: relative;
}
.button:hover {
    background-color: hotpink;
    border-color: orange;
}